@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
body {
    margin: 0;
    min-height: 100vh;
    font-family: roboto;
}
.header {
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
}

.links {
    display: flex;
    gap: 10px;
    margin: 5px;
    padding: 5px;
}

a {
    color:white;
    text-decoration: none;

}

ul {
    list-style-type: none;
}


.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
}

.header-body {
    display: flex;
    padding-top: 30px;
    padding-left: 90px;
    padding-right: 90px;
    color: #E5E7EB;
  justify-content: space-between;
  align-items: center;
    background: #1f2937;
    
   flex: 1;
    
}

.hero {
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
}

.text {
    flex:1;
}

.mainimg {
    flex: 1;
    padding-left: 30px;
  }

.footer {
    display: flex;
    justify-content: center;
   align-items: end;
    padding: 12px;
    background-color: lightgray;
  }

  .random {
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    height: 300px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
  }

  .quote {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    height: 300px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    justify-content: center;
    align-items: end;
   flex-direction: column;
  }
  .drew {
    display: flex;
    font-style: normal;
    align-items: right;
  }

  .call {
    height: 250px;
  }
  
  .signup {
    height: 30px;
    width: 100px;
    margin: 10px;
    background-color: #3882f6;
    border-radius: 8px;
    color: #f9faf8;
  }

  .holder {
    display:flex;
    justify-content: center;
    gap: 52px;
    align-items: center;
    
  }

  .title {
    display: flex;
    justify-content: center;
  }
  .item {
    width: 200px;
    text-align: center;
    font-size: 18px;
  }
